* {
    margin: 0px;
    padding: 0px;
}

ul, li {
    list-style: none;
}

#wrapBox {
    position:relative;
}

.imgBox {
    position:relative; 
    margin:0 auto;
}

.imgBox li {
    position:absolute;
}

.dotBox {
    position:absolute; 
    top:250px; 
    left: 150px; 
    margin:0 auto;
    width:60px; 
    z-index:3;
}

.dotBox li {
    float:top;
}

.dotBox a {
    display:block;
    width:15px; 
    height:15px; 
    background:url("/images/dots4.png") no-repeat; 
    background-position:0 -1px;
}

.dotBox li.active a {
    background-position:0 -33px
};

body {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    color: #2d2d2d;
}

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
}

#header h1 {
    position: absolute;
    top: 50%;
    margin-top: -4em;
    left: 50%;
    margin-left: -6em;
}

#header svg {
    position: absolute;
    top: 50%;
    margin-top: -8em;
    margin-left: -12em;
    left: 50%;
}

/* line-menu */
nav {
    width: 100%;
    padding: 40px 0;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline;

    padding-right: 10px;
    padding-left: 10px;

    font-size:18px;
    line-height:10px;
    font-weight:1;
    line-height: 28px;

    border-right: 1px solid gray;
    
    cursor: pointer;
}

nav ul li:first-child, li:last-child {
    border-right: none;
}
/* /line-menu */

/*
.subtitle {
    position: relative;
    left:0;
    right:0;
    text-align:left;
}
*/

.poster {
    position: absolute;
    top: 40px;
    left: 150px;
    right: 0;
    text-align: left;
}

.poster img {
    width: 15%;
}

.poster2 {
    position: absolute;
    top: 330px;
    left: 150px;
    text-align:left;
}

.poster2 img {
    width: 80%;
}

/*
.layout-top {
width:100%;
height:100%;
text-align:center;
}
*/

/*

.layout-top img {
width: 100%;
height: auto;
}

.top-image {
position:absolute;
width:100%;
}

.line-menu {
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
position: relative;
top: 0;
width: 100%;
height: 20px;
background-color: #fff;
}
.menu-p {
width:100%;
font-size:9px;
line-height:10px;
font-weight:1;
margin:18px;
text-align:center;
}
.wrapBox{
position:absolute;
width:100%;
height:100%; 
margin:0px;
}

.imgBox {
position:relative;
text-align:left;
width: 100%;
height: 100%;
}

.imgBox img {
width: 100%;
height: auto;
}

.act {
position:absolute;
top:40%;
left:0;
right:0;
text-align:left;}

.layout-2{
position:absolute;
top:100%;
width:100%;
height:100%; 
margin:0;
}



*/
